body{
	overflow: hidden;
}
#header{
	padding:10px 10px;
	overflow: hidden;
	background-color: #ABD8D6;
}
.redes{
	display: flex;
	height: 200px;
	align-items: flex-end;
}
.post{
	background-color:#CDC1C1;
}
.fa{
	margin-right:5px;
}
.fa-facebook {
    padding:10px 14px;
	border-radius: 2px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
	color: #fff;
    background-color: #3d5b99;
}
.fa-facebook:hover {
    background-color: #0013AB;
	transform: scale(1.1);}

.fa-twitter {
    padding:10px 14px;
	border-radius: 2px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
	color: #fff;
    background-color: #1497AC;
}
.fa-twitter:hover {
    background-color: #1497AC;
	transform: scale(1.1);}
.fa-youtube {
    padding:10px 14px;
	border-radius: 2px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
	color: #fff;
    background-color: #F00105;
}
.fa-youtube:hover {
    background-color: #F00105;
	transform: scale(1.1);}
.fa-instagram {
    padding:10px 14px;
	border-radius: 2px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
	color: #fff;
      background: linear-gradient(220deg,#9C0097,#F00105,#E7ED08);
}
.fa-instagram:hover {
    background-color: #E7ED08;
	transform: scale(1.1);}
ul{background-color:#333;
   color: #fff;}
ul li a{
	color:#fff;
}
ul li a:hover{
	color:#333;
}
